*{
    margin:0;
    padding: 0;
   }
   body{
    min-height:100vh;
    box-sizing:border-box;
    display:flex;
   }
   app-root{
    flex:1;
    display:flex;
    flex-direction:column;
    font-family:Verdana;
    font-size:14px;
   }